.traits-grid {
  margin-top: 20px;
  margin-bottom: 10px
}

$brick-color: #f5b6a7;
$brick-color-active: #80d479;
$brick-border-radius: 10px;
$brick-space: 2px;

.trait-tile {
  height: 55px;
  //background: $brick-color;
  //border-radius: $brick-border-radius;
  //margin: $brick-space;
  //box-shadow: 0 0 10px 1px darken($brick-color, 20%) inset;

  &.active {
    background: $brick-color-active;
  }
}

//.MuiGridListTile-tile {
//  background: $brick-color;
//  border-radius: $brick-border-radius;
//  margin: $brick-space;
//  box-shadow: 0 0 19px 1px darken($brick-color, 20%) inset;
//}